{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/869dc8f5ef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static "css/password_reset/password_reset_form.css" %}" />
    <title>Recuperar Contraseña</title>
  </head>
  <body>
    <div class="contenido-centrado">
      <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form method="post">
            {% csrf_token %}
            <h2>Ingresa tu Correo Electronico</h2>
            <input type="text" name="email" placeholder="Correo">
            <button>Enviar</button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel bottom">
              <h2>
                ¿Haz Olvidado tu contraseña?
              </h2>
              <h2>
                No te preocupres, te tenemos la solución
              </h2>
              <img class="img" src="{% static "img/password_reset/password_reset_form.png" %}" alt="Mavi Recupera tu Cuenta">
            </div> 
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>