{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/869dc8f5ef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static "css/password_reset/password_reset_confirm.css" %}" />
    <title>login CSS</title>
  </head>
  <body>
    {% include "includes/message.html" %}
    <div class="contenido-centrado">
      <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form method="post">
            {% csrf_token %}
            <h3>Ingrese Su Nueva Contraseña</h3>
            <input type="password" name="password1" placeholder="Contraseña Nueva">
            <input type="password" name="password2" placeholder="Confirmar Contraseña" />
            <button>Enviar</button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel bottom">
              <h2>
                Cambio de contraseña Exitosa!!
              </h2>
              <br>
              <img class="img" src="{% static "img/password_reset/password_reset_confirm.webp" %}" alt="Mavi crea tu cuenta">
            </div>
              
              
          </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>