.custom-footer {
    background-color: #243469; /* Cambia este color al que prefieras */
}

.social-icons .list-inline-item a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
}

.footer-menu .list-inline-item a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
}

.footer-menu .list-inline-item a:hover {
    text-decoration: underline;
}

.footer-bottom p {
    margin: 0;
}

/* Asegúrate de que el body y el html ocupen el 100% de la altura */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.container-main {
    flex: 1;
}