a{
    color: #000;
    text-decoration: none;
}

.barra{
     margin: 0 auto;
     display: flex;
     justify-content: center;
}

.blanco{
    color: #ffffff;
}

img{
    height: 2em;
    width: 2em;
}

.btn-amarillo{
    background: yellow;
    border-radius: 20px;
    width: 8rem;  /* Ancho específico */
    height: 5rem;  /* Alto específico */
}

.buttom{
    border: none !important;
    margin: 10px;
    width: 8rem;  /* Ancho específico */
    height: 2.2rem;  /* Alto específico */
}

.logo{
    font-size: 3em;
}

.navbar-nav .nav-link {
    font-size: 1.25em; /* Ajusta este valor según sea necesario */
}

