{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/869dc8f5ef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static "css/login_registro/login_registro.css" %}" />
    <title>login CSS</title>
  </head>
  <body>
    {% include 'login_registro/alerta-plantilla.html' %}
    <div class="contenido-centrado">
      <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form method="post">
            {% csrf_token %}
            <h1>Rigistro</h1>
            <input name="nombre" type="text" placeholder="Nombre" required/>
            <input name="apellido" type="text" placeholder="Apellido" required/>
            <input name="usuario" type="text" placeholder="Usuario" required/>
            <input name="correo" type="email" placeholder="Correo" required/>
            <input name="sector" type="text" placeholder="Sector Donde Vive" required>
            <input name="telefono" type="text" placeholder="Teléfono   ejem:+584321" required/>
            <input name="contraseña" type="password" placeholder="Contraseña" required/>
            <input type="text"  name="registrarce" hidden>
            <br>
            <button type="submit" id="lila">Registrar</button>
          </form>
        </div>
        <div class="form-container sign-in-container">
          <form method="post">
            {% csrf_token %}
            <h1>Iniciar Sesión</h1>
            <input name="usuario" type="text" placeholder="Usuario" required/>
            <input name="contraseña" type="password" placeholder="Contraseña" required/>
            <a href="#">Olvidaste tu contraseña?</a>
            <button id="submit">Iniciar sesión</button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h2>¡¡Bienvenido!!</h2>
              <p>
                Si ya posees una cuenta inicia sesión
              </p>
              <br>
              <img src="{% static 'img/login_registro/registro.png' %}" alt="Mavi crea tu cuenta">
              <br>
              <button class="ghost" id="signIn">Inicia sesión</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>
                Hola 
                Crear tu cuenta
              </h1>
              <img src="{% static 'img/login_registro/inicio_de_sesion.png' %}" alt="Mavi crea tu cuenta" id="img">
              <br>
              <button class="ghost" id="signUp">Registrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static "js/login_registro/login_registro.js" %}"></script>

    {% if mensaje %}
      <script> 
        mensaje('{{mensaje}}', 'login_registro/alerta-plantilla.html')
      </script>
    {% endif %}
  </body>
</html>