
body {   
  background-color: #E4D9FF;   
}
/****************pop up****************/

img {
max-width: 100%;
} 

.popupBody{      
position: scroll;
top: 1.5vh;
left: 10%;
right: 10%;
width: 80%;
height: 80%;
display: flex;  
align-items: center; 
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
z-index: 1;
}

.visible{  
transition: opacity 500ms;
visibility: visible;
opacity: 1;
}

.popupBody:target {
visibility: visible;
opacity: 1;
}

#Diapositiva {
position: absolute;
top: 0;
left: 0; 
right: 0;
bottom: 0;
width: 80%;
height: 80%;
margin: auto;
background: rgb(33, 158, 188);
object-fit: contain;
z-index: 2; 
}	

#Diapositiva img{    
max-width: 100%;
max-height: 100%;
}
  
#video {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 80%;
height: 80%;
margin: auto;
background: rgb(33, 158, 188);
object-fit: contain;
z-index: 0;
}

#video video{ 
max-width: 100%;
max-height: 100%;
z-index: 0;
}

.fadein {
opacity: 100;
transition: 1s;
}

.fadeout {
opacity: 0;
transition: 1s;
}


#contador{
display: none;
}

.centrar-contenido {
display: flex; /* Activar modo flexbox */
flex-direction: column; /* Ordenar elementos en columna */
min-height: 100vh; /* Altura mínima del contenedor */
margin: 0 auto; /* Centrar horizontalmente */
margin-top: 6.25rem;
}

.margin{
  margin: auto;
}
