{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/869dc8f5ef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/olvido.css' %}">
    <title>Recuperar contraseña</title>
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="#">
          <h1>Validar Token</h1>
          <!-- <div class="social-container">
            <a href="#" class="social>">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social>">
              <i class="fab fa-google" id="red"></i>
            </a>
            <a href="#" class="social>">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div> -->
          <span>Volver a enviar token</span>
          <input type="text" placeholder="Token" />
          <button id="lila">Validar token</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Recupera tu contraseña</h1>
        <!--  <div class="social-container">
             <a href="#" class="social">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social>">
              <i class="fab fa-google" id="red"></i>
            </a>
            <a href="#" class="social">
              <i class="fab fa-linkedin-in"></i>
            </a> 
          </div>
          <span>o usa tu email</span>-->
          <input type="text" placeholder="User" />
          <input type="email" placeholder="Email" />
          <button>Recuperar</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Hola de nuevo!!!</h1>
            <p>
              Confirma tu token para cambiar la contraseña
            </p>
            <button class="ghost" id="signIn">Inicia sesión</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hola!!!</h1>
            <p>Recupera tu contraseña</p>
            <button class="ghost" id="signUp">Registrar</button>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/olvido.js' %}"></script>
  </body>
</html>